<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>
<!--Control+/ pour commenter-->
<!-- pour récupérer quelque chose du model: {{nom du truc dans le model}} -->
<!--<h1>hello {{olivier.prenom}}</h1>-->

<!--<input [(ngModel)]="olivier.prenom">-->

<!--  <button (click)="hello()">clique ici</button>-->
<!--  <h2>{{message}}</h2>-->
<!--  <app-couleur></app-couleur>-->

<!--  <div>-->
<!--<app-client-comp></app-client-comp>-->
<!--  </div>-->

<!--  <p app-asc-bold >contenu à mettre en gras</p>-->

<!--  <p app-asc-tooltip titre="et voila un tooltip">Voila un message</p>-->

  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!! événements !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!-- géré dans un component ici : sortie -->
  <!--  dans sortie.component.ts => instancier un objet type EventEmitter (ici nommé evenement) + méthode qui contient this.nomEvt.emit(ValeurParamàFairePasser);-->
  <!--  dans sortie.component.html : relier à un autre evt : ici (click) grace à l'appel de la méthode créée plus haut-->
  <!-- dans app.component.ts : créer méthode (ici: methode()) qui fait quelque chose quand evt déclenché. On lui passe $event qui renvoie ce qui est contenu dans emit(ça)  -->
<!--<app-sortie (evenement)="methode($event)"></app-sortie>-->
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!! Exercice !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!--<app-vote-main></app-vote-main>-->


  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!! directives !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!--  <div app-test>une div</div>-->
  <!--<a app-test >google.com</a>-->
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!! Exercice !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!--  creer component clients avec tableau de client-->
  <!--ajouter un element au tableau : => eventEmitter ! push-->
  <!-- ajout filtre (.filter) =>  ne touche pas à l'ancien tableau,  -->
<!--  <app-clients></app-clients>-->

  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!! Routage !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <header>mon super header avec une jolie photo</header>
  <nav >
    <ul>
      <!-- routerLink pour renvoyer vers l'élement de routes ; routerLinkActive : permet de ne pas recharger la page quand on clique sur le lien    -->
    <li><a [routerLink]="['clients']" routerLinkActive="active">lien1</a></li>
<!--  Attention, le / de /vote n'est pas obligatoire et fait bugger les morceaux suivants si mis, si on voulait ajouter un autre morceau : '/vote','autreMorceau'    -->
      <li><a [routerLink]="['/vote']" routerLinkActive="active">lien2</a></li>
<!-- ajout parametre à lien -->
<!--    Attention : ajouter une activatedRoute dans le constructeur du component appelé:  injection qui permet de récupérer le parametre-->
      <li><a [routerLink]="['/param','olivier']" routerLinkActive="active">lien3</a></li>
      <li><a [routerLink]="['/tpservice']" routerLinkActive="active">lien tp service</a></li>
    </ul>
  </nav>
  <div>
<!--    contenu de la page-->
<!--    là ou on appelle les app-->
    <router-outlet></router-outlet>
    <!--    <app-vote-main></app-vote-main>-->
  </div>

  <footer>le footer</footer>


</div>
